@media print {
    body {
        margin: 0.05cm 0.05cm 0.05cm 0.05cm;
    }

    head {
        visibility: hidden;
        display: none;
    }

 

    .table {
        border-collapse: collapse !important;
        border: 1px solid black !important;
        font-size: 8pt;
        color: black;
        padding: 0.25cm;
    }

    .table-nolined th,
    .table-nolined td {
        padding: 0.15cm;
    }

    .table-bordered th,
    .table-bordered td {
        padding: 0.15cm;
        border: 1px solid black !important;
    }

    .cell-gray {
        background-color: silver;
    }
}
